In [4]:
from db_utils import get_all_data, convert_fetched_data_to_df
import pandas as pd

# load the data

In [5]:
data = get_all_data()
data = convert_fetched_data_to_df(data)
print(data)

    id  game_number  jim_score  aleks_score  jim_running_sum  \
0    1            1        -68          110              -68
1    2            2         83           94               15
2    3            3        -62          114              -47
3    4            4        142           23               95
4    5            5        112           29              207
5    6            6        -54           80              153
6    7            7         94           44              247
7    8            8         59           51              306
8    9            9         73           96              379
9   10           10        100          145              479
10  11           12         97           -7              576
11  12           13         84           11              660
12  13           14        -56           35              604
13  14           15         58           39              662
14  15           16         92           28              754
15  16           17        118            2              872
16  17           18        119           26              991
17  18           19        -59           98              932
18  19           20          4           69              936
19  20           21         63           57              999
20  21           22        104           48             1103
21  22           23         74           98             1177
22  23           24        112           61             1289
23  24           25         79          133             1368
24  25           26         94          -15             1462
25  26           27        119            8             1581
26  27           28         84          118             1665
27  28           29         12           41             1677
28  29           30        104           14             1781
29  30           31        104           64             1885
30  31           32        104           52             1989
31  32           33         64          104             2053
32  33           34          1          110             2054
33  34           35        101            1             2155
34  35           36        136          -33             2291
35  36           37         94          -43             2385
36  37           38        104           -1             2489
37  38           39         87           16             2576
38  39           40        -66          112             2510
39  40           41         88           49             2598
40  41           42         89          -70             2687
41  42           43        104          -60             2791
42  43           44        175           60             2966
43  44           45         96          -51             3062

    aleks_running_sum
0                 110
1                 204
2                 318
3                 341
4                 370
5                 450
6                 494
7                 545
8                 641
9                 786
10                779
11                790
12                825
13                864
14                892
15                894
16                920
17               1018
18               1087
19               1144
20               1192
21               1290
22               1351
23               1484
24               1469
25               1477
26               1595
27               1636
28               1650
29               1714
30               1766
31               1870
32               1980
33               1981
34               1948
35               1905
36               1904
37               1920
38               2032
39               2081
40               2011
41               1951
42               2011
43               1960

In [6]:
scores_df = data[['jim_score', 'aleks_score']]
print(scores_df)

    jim_score  aleks_score
0         -68          110
1          83           94
2         -62          114
3         142           23
4         112           29
5         -54           80
6          94           44
7          59           51
8          73           96
9         100          145
10         97           -7
11         84           11
12        -56           35
13         58           39
14         92           28
15        118            2
16        119           26
17        -59           98
18          4           69
19         63           57
20        104           48
21         74           98
22        112           61
23         79          133
24         94          -15
25        119            8
26         84          118
27         12           41
28        104           14
29        104           64
30        104           52
31         64          104
32          1          110
33        101            1
34        136          -33
35         94          -43
36        104           -1
37         87           16
38        -66          112
39         88           49
40         89          -70
41        104          -60
42        175           60
43         96          -51

# Descriptive Stats

In [12]:
describe_res = scores_df.describe()
mean_row = describe_res.loc["mean"]
jim_mean = mean_row['jim_score']
aleks_mean = mean_row['aleks_score']

In [13]:
jim_mean

np.float64(69.5909090909091)

In [14]:
aleks_mean

np.float64(44.54545454545455)